<form action="/compose">
<button type="button" name="button" >Nieuwe Blog</button>
</form>
<form action="/edit">
<button type="button" name="button" >Blog Bewerken</button>
</form>
<form action="/delete">
<button type="button" name="button" >Blog Verwijderen</button>
</form>
