
<form class="" action="/compose" method="post">
  <div class="form-group">

<label for="type">Soort verhaal:</label>

<select id="type">
  <option value="dynamisch">Dynamische verhalen</option>
  <option value="kinder">Kindergedichten</option>
  <option value="kort">Korte verhalen</option>
</select>
<br /><br />

    <label>Titel</label>
    <br>

    <input class="form-control" type="text" name="postTitle">
    <br><br><br>
    <label>Bericht</label>
    <br>
    <textarea class="form-control" name="postBody" rows="45" cols="170"></textarea>
  </div>
  <button class="btn btn-primary" type="submit" name="button">Opslaan</button>
</form>
